*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.boxpiece{
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-container{
  display: flex;
}
.row-container svg{
  background-color: transparent;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
